<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336317627750-un77simkn5gtkuag2pq136olts8pku7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336317627750-un77simkn5gtkuag2pq136olts8pku7r</string>
	<key>API_KEY</key>
	<string>AIzaSyA9EALFT3SXRCaQEMaG5ZZgpz4s65oXYsY</string>
	<key>GCM_SENDER_ID</key>
	<string>336317627750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.ebizco.projman2</string>
	<key>PROJECT_ID</key>
	<string>projman-f4bca</string>
	<key>STORAGE_BUCKET</key>
	<string>projman-f4bca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336317627750:ios:b1bacb2c49c2504c59dca7</string>
</dict>
</plist>